html{
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 20;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*nav bar style*/


.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/*home style*/
.home{
    display: flex;
    background: url("Images/background3.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    font-weight: 500;
}
.home .extras {
    color: black;

}

/*about me*/
section{
    padding: 100px 0;
}
.about .title{
    position: relative;
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .column-left{
    width: 45%;
}
.about .about-content .column-left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.about .about-content .column-right{
    width: 55%;
}

.who,
.hope,
.doing-now,
.hobbies{
    margin-bottom: 20px;
}
.abouts .who h2,
.hope h2,
.doing-now h2,
.hobbies h2{
    text-align: justify;
}
.hobbies .text ul li{
    color: black;
    text-decoration: none;
}


.projects{
    background-color: rgb(253, 232, 236);
    height: 100vh;
    min-height: 500px;
}
.content-project{
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
}

.contact{
    background-color: white;
    height: 50vh;
    min-height: 500px;
}
.contact > .row{
    margin: auto;
}
.contact-section{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.text-center{
    text-align: center !important;
    padding: 50px;
}
.contact > .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
i{
    font-size: 50px;
    color: black;
}
